name: Run Tests

on:
  push:
    branches:
      - '*'
      - '*/*'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 18

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Install project dependencies
        run: pnpm install

      - name: Output vars
        run: |
          echo "ACCOUNTS_PRIVATE_KEY_1: ${{vars.ACCOUNTS_PRIVATE_KEY_1}}"
          echo "ACCOUNTS_PRIVATE_KEY_2: ${{vars.ACCOUNTS_PRIVATE_KEY_2}}"
          echo "MUMBAI_API_KEY: ${{vars.MUMBAI_API_KEY}}"

      - name: Run Tests
        run: pnpm test
